* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  height: auto;
}

#header {
  position: relative;
  width: 100%;
  /* height: 1000px; */
}

#header img {
  position: absolute;
}

#menu {
  /* position: absolute; */
  width: 100%;
  height: 100px;
  background-color: rgba(216, 206, 182, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* overflow: hidden; */
}

#menu .title {
  display: none;
}

#nav {
  margin-left: 450px;
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li a {
  color: rgb(157, 120, 111);
  font-size: 30px;
  text-decoration: none;
  line-height: 100px;
  padding: 0 42px;
  display: inline-block;
  font-weight: 300;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: coral;
}

#nav > li:hover .subnav {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: rgba(216, 206, 182, 0.7);
  font-size: 20px;
  width: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  top: 100%;
}

#nav .subnav a {
  line-height: 48px;
  font-size: 28px;
}

.subnav li a {
  width: 100%;
}

#nav,
.subnav {
  list-style-type: none;
}

.search-btn,
.user-btn {
  float: right;
  margin-right: 16px;
  color: rgb(157, 120, 111);
}
.search-btn .search-icon,
.user-btn .user-icon,
.mobile-menu-btn {
  line-height: 100px;
  padding: 36px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.mobile-menu-btn {
  display: none;
}

#header .search-btn:hover,
#header .user-btn:hover,
.mobile-menu-btn:hover {
  background-color: coral;
  color: #000;
}

#header .des {
  position: absolute;
  margin-top: 260px;
  margin-left: 150px;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
  color: #e79926;
}

#header .des p {
  padding: 16px 0;
}

#header .btn button {
  position: absolute;
  margin-top: 500px;
  margin-left: 350px;
  font-size: 25px;
  width: 260px;
  height: 70px;
  background-color: #f2c27a;
  color: #73665e;
  border-radius: 8px;
  text-align: center;
  border: none;
}

#header .btn a {
  color: #73665e;
  text-decoration: none;
  padding-left: 400px;
}

#content {
  display: flex;
  position: relative;
  width: 1440px;
  margin-top: 120px;
  flex-direction: column;
  align-items: center;
}

#content-sig {
  display: flex;
  position: relative;
  width: 1600px;
  margin-top: 120px;
  justify-content: space-between;
  color: #733f3f;
}

#content-sig .right,
#content-sig .left {
  margin-left: 100px;
  width: 50%;
}

#content-sig .right .des {
  font-size: 28px;
  margin: 28px 0;
}

#content-sig .right .location,
#content-sig .right .address {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 38px;
}

#content-sig .right .location .socialMedia a {
  color: #733f3f;
  margin-right: 20px;
}

#content-sig .right .footer {
  margin-top: 40px;
}

#content-sig .right .footer p {
  margin-top: 10px;
  font-size: 30px;
}

#content-sig .right .footer .detail {
  margin-top: 24px;
  display: flex;
  font-size: 30px;
}

#content-sig .right .footer .detail span {
  margin-left: 12px;
}

#content .imgBackground,
#content .imgBackground1 {
  position: relative;
  width: 100%;
  height: 700px;
}

#content-sig .left .imgBackground,
#content-sig .left .imgBackground1 {
  position: relative;
  width: 100%;
  height: 410px;
}
#content .imgBackground img{
  position: absolute;
  width: 100%;
  height: 720px;
}
/* #content .imgBackground img, */
#content-sig .left .imgBackground img,
#content-sig .left .imgBackground1 img {
  position: absolute;
  width: 100%;
}

#content .imgBackground1 img {
  position: absolute;
  width: 400px;
  height: 600px;
  margin-left: 500px;
}

#content h1 {
  margin-top: 40px;
  /* margin-bottom: 80px; */
  margin-left: -1085px;
  font-size: 40px;
}

#content h2 {
  margin-top: 60px;
  margin-left: -360px;
}

#content p {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 70px;
}

#footer {
  display: flex;
  margin-top: 70px;
  width: 100%;
  background-color: #fffbe9;
  height: 500px;
  justify-content: space-between;
}

#footer video {
  width: 450px;
  margin-left: 60px;
}

#footer .item,
#footer .item1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #733f3f;
  margin-right: 40px;
}

#footer .item .container {
  width: 500px;
  margin-right: 24px;
}

#footer .item1 a {
  color: #733f3f;
}

#footer .item1 p {
  padding: 10px 80px;
}

#footer h1 {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 120px;
}

#footer .item .child {
  display: flex;
}

#footer .item .child a,
#footer .item .socialMedia a {
  color: #733f3f;
  text-decoration: none;
}

.ti-location-pin,
.ti-mobile {
  font-size: 54px;
  padding-top: 5px;
}

#footer .item .socialMedia {
  margin-top: 40px;
  margin-left: 7px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.modalLogin {
  position: fixed;
  display: flex;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}

.modalLogin.open {
  display: flex;
}

.modalLogin-container {
  background-color: white;
  width: 550px;
  max-width: calc(100% - 32px);
  min-height: 750px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
  background-color: #ead0ad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalLogin-close {
  margin-top: 10px;
  margin-left: 520px;
  cursor: pointer;
}

.modalLogin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalLogin-header h1 {
  font-weight: bold;
  font-size: 40px;
}

.modalLogin-header img {
  width: 150px;
  height: 150px;
}

.modalLogin-body {
  margin-top: 26px;
  width: 80%;
}

.form-group {
  width: 100%;
}

.form-group label {
  font-size: 25px;
}

.form-group input {
  width: 100%;
  height: 50px;
}

.form-check {
  display: flex;
}

.form-check input {
  width: 16px;
  height: 16px;
}
.form-check label {
  padding-top: 2px;
  font-size: 16px;
}

.btn-primary {
  width: 100%;
  height: 50px;
}

.modalLogin-Contact {
  margin-top: 20px;
  font-size: 20px;
  /* color: chocolate; */
}

/* .modalLogin-Contact p{
  margin-bottom: 16px;
} */

.modalLogin-Contact a {
  font-size: 32px;
  color: #000;
  margin-left: 8px;
}
