/* PC */
@media (min-width: 1024px) {
  #menu .title {
    display: none;
  }
  #nav li button {
    display: none;
  }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  #menu .title {
    display: none;
  }
  #nav li button {
    display: none;
  }
}

/* Mobile */
@media (max-width: 740px) {
  #header {
    width: 100%;
    height: 50px;
  }

  #menu {
    display: inline;
    max-width: 100%;
    overflow: hidden;
  }

  .mobile-menu-btn {
    display: block;
  }

  #menu .title {
    display: inline-block;
    position: absolute;
    width: 500px;
    margin-left: 190px;
    font-size: 40px;
    font-weight: bold;
    margin-top: -80px;
    color: #733f3f;
  }

  #nav {
    margin-left: 0px;
    display: block;
  }

  #nav li button {
    margin-left: 220px;
    display: block;
    padding: 30px 40px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #733f3f;
    background-color: rgba(216, 206, 182, 0.7);
  }

  #nav li i {
    font-size: 24px;
    font-weight: bold;
  }
  #nav li button:hover {
    color: black;
    background-color: coral;
  }

  #nav .subnav {
    position: initial;
    width: 100%;
  }

  #nav .subnav a {
    padding: 15px 90px;
  }

  #nav > li {
    display: block;
  }

  .search-btn .search-icon,
  .user-btn .user-icon {
    display: none;
  }

  .imgLogo {
    display: none;
  }

  #nav li a {
    color: rgb(157, 120, 111);
    line-height: 70px;
    padding: auto;
    display: inline-block;
    font-weight: 300;
    width: 100%;
    padding: 10px 42px;
  }

  .mobile-menu-btn {
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #733f3f;
  }

  #header .btn button {
    position: absolute;
    margin-top: 240px;
    margin-left: 110px;
    font-size: 14px;
    width: 140px;
    height: 40px;
    text-align: center;
  }

  /* content */
  #content {
    width: 700px;
  }

  #content .imgBackground {
    height: 400px;
    /* margin-top: -60px; */
  }

  /* caffee and beauti */
  #content .imgBackground img{
    position: relative;
    width: 100%;
    height: 400px;
  }

  #content h1 {
    margin-top: 10px;
    margin-left: -345px;
  }

  #content h2{
    margin-left: 0px;
  }

  /* #content h2 {
    margin-left: 100px;
    margin-top: -80px;
  } */

  #content p {
    margin-bottom: 60px;
  }

  #content .imgBackground1{
    width: 100%;
    height: 600px;
  }

  #content .imgBackground1 img{
    margin-left: 140px;
    /* margin-top: -50px; */
    margin-bottom: 10px;
  }

  /* content-sig */

  #content-sig {
    margin-top: 100px;
    margin-left: 500px;
    width: 1400px;
    display: flex;
    flex-direction: column;
  }

  #content-sig .left .imgBackground1 {
    display: none;
  }

  #footer {
    display: flex;
    flex-direction: column;
    height: 1200px;
    /* margin-top: -50px; */
  }

  #footer .item,
  #footer .item1 {
    margin-top: 10px;
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  #footer .item .container {
    margin-top: -80px;
  }

  #footer .item1 h1 {
    margin-bottom: 40px;
  }
  #footer .item video {
    margin-top: -80px;
    width: 90%;
    margin-left: 0;
  }

  #footer .item .container .child {
    margin-left: -100px;
    width: 500px;
  }

  #footer .item .container .socialMedia {
    margin-left: 10px;
  }
}
