* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* common */
.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.33333%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  height: auto;
}

#header {
  position: relative;
  width: 100%;
  height: 1000px;
}

#header img {
  position: absolute;
}

#menu {
  /* position: absolute; */
  width: 100%;
  height: 100px;
  background-color: rgba(216, 206, 182, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* overflow: hidden; */
}

#menu .title {
  display: none;
}

#nav {
  margin-left: 450px;
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li a {
  color: rgb(157, 120, 111);
  font-size: 30px;
  text-decoration: none;
  line-height: 100px;
  padding: 0 42px;
  display: inline-block;
  font-weight: 300;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: coral;
}

#nav > li:hover .subnav {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: rgba(216, 206, 182, 0.7);
  font-size: 20px;
  width: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  top: 100%;
}

#nav .subnav a {
  line-height: 48px;
  font-size: 28px;
}

.subnav li a {
  width: 100%;
}

#nav,
.subnav {
  list-style-type: none;
}

.search-btn,
.user-btn {
  float: right;
  margin-right: 16px;
  color: rgb(157, 120, 111);
}
.search-btn .search-icon,
.user-btn .user-icon,
.mobile-menu-btn {
  line-height: 100px;
  padding: 36px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.mobile-menu-btn {
  display: none;
}
.imgLogo{
   width:100px; height:100px;
   margin-right: 40px;
}

#header .search-btn:hover,
#header .user-btn:hover,
.mobile-menu-btn:hover {
  background-color: coral;
  color: #000;
}

#header .des {
  position: absolute;
  margin-top: 260px;
  margin-left: 150px;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
  color: #e79926;
}

#header .des p {
  padding: 16px 0;
}

#header .btn button {
  position: absolute;
  margin-top: 500px;
  margin-left: 350px;
  font-size: 25px;
  width: 260px;
  height: 70px;
  background-color: #f2c27a;
  color: #73665e;
  border-radius: 8px;
  text-align: center;
  border: none;
}

#header .btn a {
  color: #73665e;
  text-decoration: none;
  padding-left: 400px;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  position: relative;
}

#sanPham {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1440px;
}

#sanPham .header {
  color: #f78115;
  font-size: 35px;
}

#sanPham .row1{
  display: flex;
}
#sanPham .row2 {
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: space-between;
}

#sanPham .row1 .item1 {
  display: flex;
  position: relative;
  width: 57%;
  height: 450px;
  margin-right: -60px;
}
#sanPham .row1 .item1 img{
  width: 678px;
}
#sanPham .row1 .item1 .btnBook {
  position: absolute;
}
#sanPham .row1 .item2 .pic{
  margin-right: 90px;
}
#sanPham .row1 .item1 .btnBook button {
  padding: 20px 50px;
  background-color: #f4bc7b;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 350px;
  margin-left: 10px;
  border: none;
}

#sanPham .row1 .item1 .btnBook a:hover {
  text-decoration: none;
}

#sanPham .row1 .item1 .des {
  position: absolute;
  padding: 35px 10px;
  color: rgb(244, 188, 123);
  font-size: 20px;
  border: rgb(244, 188, 123) solid 2px;
  border-radius: 100px;
  margin-top: 0px;
  margin-left: 20px;
  font-weight: bold;
}

#sanPham .row1 .item2 {
  display: flex;
  justify-content: space-between;
  width: 295px; 
  height:330px;
}
.xulyanhtablet{
  width: 295px; height:330px;
}
#sanPham .row1 .item2 .pic {
  display: flex;
  flex-direction: column;
}

#sanPham .row1 .item2 .des,
#sanPham .row2 .des {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#sanPham .row1 .item2 .des button,
#sanPham .row2 .des button {
  margin-top: 4px;
  padding: 12px 30px;
  background-color: #f4bc7b;
  border-radius: 10px;
  font-size: 20px;
  color: #000;
  border: none;
}

#sanPham .row1 .item2 .des h1,
#sanPham .row2 .des h1 {
  color: grey;
  font-size: 15px;
  margin-top: 16px;
}

#sanPham .row1 .item2 .des h5,
#sanPham .row2 .des h5 {
  color: #733f3f;
  margin-bottom: -10px;
  font-size: 20px;
}

/* #sanPham .row2 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 1440px;
  justify-content: space-between;
} */

/* #sanPham .row2 .des {
  display: flex;
  flex-direction: column;
  align-items: start;
} */

/* #sanPham .row2 .des button {
  margin-top: 8px;
  padding: 12px 30px;
  background-color: #f4bc7b;
  border-radius: 10px;
  font-size: 20px;
} */

#gioiThieu {
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 800px;
  justify-content: center;
  position: relative;
}

#gioiThieu .container {
  display: flex;
  /* max-width: 100%; */
  width: 100%;
  flex-direction: column;
  position: absolute;
  align-items: center;
}

#gioiThieu .container .header {
  margin: 30px 0;
  color: #eb9749;
}

#gioiThieu .container .item {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#gioiThieu .container .item .left {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 90px;
  width: 36%;
}
.khungcanhquan{
  width: 700px; height: 450px;
}
#gioiThieu .container .item .right {
  display: flex;
  width: 50%;
  justify-content: end;
  margin: 20px 90px;
}

#gioiThieu .container .item .left .title {
  color: #733f3f;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #d5d5d5, 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#gioiThieu .container .item .left .btn button {
  border: none;
  padding: 15px 100px;
  background-color: #f67559;
  border-radius: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin-left: -190px;
}

#chuyenNha {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  position: relative;
  align-items: center;
}

#chuyenNha .header {
  margin-bottom: 30px;
  color: rgb(235, 151, 73);
  font-size: 40px;
}

#chuyenNha .row1 {
  display: flex;
  width: 1440px;
  justify-content: space-around;
}

#chuyenNha .row1 .item1 {
  width: 40%;
  margin-left: 100px;
}

#chuyenNha .row1 .item1 .des {
  margin-top: 20px;
  width: 500px;
  font-size: 18px;
}

/* #chuyenNha .row1 .item1 .btn_timhieuthem {
  width: 280px;
  text-align: center;
  margin-top: 50px;
} */
/* 
#chuyenNha .row1 .item1 .btn_timhieuthem a {
  text-decoration: none;
} */

#chuyenNha .row1 .item1 .btn_timhieuthem button {
  border: none;
  margin-top: 50px;
  padding: 15px 30px;
  background-color: #f4bc7b;
  border-radius: 10px;
  font-size: 20px;
  color: black;
  /* margin-left: -600px; */
}

#footer {
  display: flex;
  margin-top: 70px;
  width: 100%;
  background-color: #fffbe9;
  height: 500px;
  justify-content: space-between;
}

#footer video {
  width: 450px;
  margin-left: 60px;
}

#footer .item,
#footer .item1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #733f3f;
  margin-right: 40px;
}

#footer .item .container {
  width: 500px;
  margin-right: 24px;
}

#footer .item1 a {
  color: #733f3f;
}

#footer .item1 p {
  padding: 10px 80px;
  margin-left: 70px;
}
#footer .item1 .child{
  font-size: 24px;
}
#footer h1 {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 120px;
}

#footer .item .child {
  display: flex;
  font-size: 24px;
}

#footer .item .child a,
#footer .item .socialMedia a {
  color: #733f3f;
  text-decoration: none;
}

.ti-location-pin,
.ti-mobile {
  font-size: 54px;
  padding-top: 5px;
}

#footer .item .socialMedia {
  margin-top: 40px;
  margin-left: 7px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.modalLogin {
  position: fixed;
  display: flex;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}

.modalLogin.open {
  display: flex;
}

.modalLogin-container {
  background-color: white;
  width: 550px;
  max-width: calc(100% - 32px);
  min-height: 750px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
  background-color: #ead0ad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalLogin-close {
  margin-top: 10px;
  margin-left: 520px;
  cursor: pointer;
}

.modalLogin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalLogin-header h1 {
  font-weight: bold;
  font-size: 40px;
}

.modalLogin-header img {
  width: 150px;
  height: 150px;
}

.modalLogin-body {
  margin-top: 26px;
  width: 80%;
}

.form-group {
  width: 100%;
}

.form-group label {
  font-size: 25px;
}

.form-group input {
  width: 100%;
  height: 50px;
}

.form-check {
  display: flex;
}

.form-check input {
  width: 16px;
  height: 16px;
}
.form-check label {
  padding-top: 2px;
  font-size: 16px;
}

.btn-primary {
  width: 100%;
  height: 50px;
}

.modalLogin-Contact {
  margin-top: 20px;
  font-size: 20px;
  /* color: chocolate; */
}

/* .modalLogin-Contact p{
  margin-bottom: 16px;
} */

.modalLogin-Contact a {
  font-size: 32px;
  color: #000;
  margin-left: 8px;
}
#content_PD {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: -830px;
}

#chitietsanpham {
  display: flex;
  width: 1170px;
  height: 661px;
}
.ctsp_left {
  width: 570px;
  height: 664px;
}
.ctsp_right {
  margin-left: 100px;
  margin-top: -20px;
}
.anhlon{
  width:574px; height: 573px;
}
.anhnho{
  width:74px; height: 77px; margin-top: 10px;border:red solid 1px; border-radius: 5px;
}
.link_title{
  display: flex; text-align:left; margin-left: -800px;
}
.button_option{
  display: flex;     
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  font-family: 'SF Pro Text', sans-serif;
   box-sizing: border-box;
   margin: 0;
 outline: 0;
   vertical-align: baseline;
   transition: all 0.3s;
   cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 40px;
  line-height: 1;
  font-weight: 400;
   margin-right: 16px;
   font-size: 14px;
  color: #666666;
   margin-top: 10px;
}
.option_topping{
  font-family: "SF Pro Text", sans-serif;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  transition: all 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 40px;
  line-height: 1;
  font-weight: 400;
  margin-right: 16px;
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
}

.anhlon {
  width: 574px;
  height: 573px;
}
.anhnho {
  width: 74px;
  height: 77px;
  margin-top: 10px;
  border: red solid 1px;
  border-radius: 5px;
}
.link_title {
  display: flex;
  text-align: left;
  margin-left: -800px;
}
.option_topping {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  color: #000;
  font-weight: 400;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  margin-top: -20px;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
.option_title {
  font-family: "SF Pro Text", sans-serif;
  color: #000;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 23px;
  margin-bottom: 0;
}
.product_options {
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  color: #000;
  font-weight: 400;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  flex-wrap: wrap;
  width: 541px;
  height: 241px;
  margin-top: 280px;
  margin-left:-60px;
}
.option_item {
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  color: #000;
  box-sizing: border-box;
  max-width: 100%;
  font-weight: bold;
  font-size: 100%;
  position: relative;
  margin: 10px 20px 10px 0;
}
.checkbox {
  color: inherit;
  font: inherit;
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0 0;
  line-height: normal;
  position: absolute;
  z-index: 1;
  opacity: 0;
  margin-top: 10px;
}
.option_inner {
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: #666666;
  height: 40px;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
}
.product_to_cart {
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  color: #000;
  font-weight: 400;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin-top: 600px;
  margin-left: -540px;
}
.order_method {
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  color: #000;
  font-weight: 400;
  font-size: 100%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.x1 {
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  color: #000;
  font-weight: 400;
  list-style: none;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  border-radius: 8px;
  padding: 12px 0;
  text-align: center;
  flex: 0 0 calc(50% - 8px);
  margin-top: 15px;
  background-color: rgb(229, 121, 5);
  width: 200px;
}
.blank {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  font-family: "SF Pro Text", sans-serif;
  line-height: 1.42857143;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
#product_description {
  width: 1176px;
  height: 150px;
  border-top: gainsboro solid 1px;
  margin-top: 60px;
  border-bottom: gainsboro solid 1px;
}
.pd_title {
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  line-height: 1.4;
  color: #000;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600 !important;
  font-size: 18px;
  margin-bottom: 10px;
}
.pd_content{
  color: #000;
}
/* san pham them */
.more_products {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 100%;
  width: 1174px;
  height: 296px;
  margin-bottom: 200px;
}
.mp_title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
}
.list_product {
  display: flex;
  margin: 0 -15px -30px;
}
.menu_item {
  font-family: "SF Pro Text", sans-serif;
  padding-right: 30px;
  padding-left: 20px;
}
.menu_item_image {
  position: relative;
  width: 170px;
  height: 170px;
  margin-right: 20px;
  filter: drop-shadow(0 0 5px gainsboro);
}
.menu_item_info {
  margin-top: 20px;
  text-shadow: 0px 1px rgba(229, 121, 5, 0.425) ;
  width: 170px;
}
.price_product_item {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666666;
}

/*
.modalLogin-header {
  display: flex;
  height: 129px;
  background-color: #009688;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.modalLogin-heading-icon{
  margin-right: 16px;
}

.modalLogin-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px -2px;
  cursor: pointer;
  opacity: 0.7;
}

.modalLogin-close:hover {
  opacity: 1;
}

.modalLogin-body {
  padding: 17px;
}

label.modalLogin-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modalLogin-input {
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 24px;
} */

/* @media screen {
    
} */
