*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}

#header{
    position: relative;
    width: 100%;
    height: 500px;
}

#header img{
    position: absolute;
}

#menu{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(216,206,182,0.7);
}

#nav{
    margin-left: 350px;
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li a{
    color: rgb(157,120,111);
    font-size: 30px;
    text-decoration: none;
    line-height: 100px;
    padding: 0 42px;
    display: inline-block;
    font-weight: 300;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: black;
    background-color:   coral;
}

#nav > li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: rgba(216,206,182,0.7);
    font-size: 20px;
    width: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    top: 100%;
}


#nav .subnav a{
    line-height: 48px;
    font-size: 26px;
}

.subnav li a{
    width: 100%;
}

#nav, .subnav{
    list-style-type: none;
}

.search-btn,.user-btn{
    float: right;
    margin-right: 16px;
    color: rgb(157,120,111);;
}
.search-btn .search-icon,.user-btn .user-icon{
    line-height: 100px;
    padding: 36px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#header .search-btn:hover,#header .user-btn:hover{
    background-color: coral;
    color: #000;
}

#header .des{
    position: absolute;
    margin-top: 260px;
    margin-left: 150px;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px  black;
    color: #E79926;
}

#header .des p{
    padding: 16px 0;
}

#header .btn{
    position: absolute;
    margin-top: 520px;
    margin-left: 350px;
    font-size: 25px;
    width: 260px;
    height: 70px;
    background-color: #F2C27A;
    color: #73665E;
    border-radius: 5px ;
    text-align: center;
}

#header .btn a{
    color: #73665E;
    text-decoration: none;
    padding-left: 400px;
}
#content{
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    display: flex;
}
.content_left{
    position: absolute;
    width: 653px;
    height: 558px;
    margin-left:-700px;
}
.content_right{
    width: 653px;
    height: 708px;
    display: flex;
    margin-left:800px;
}
.item_1{
    display:flex;
}
.btn_dathang_anhlon{
    position: absolute;
    margin-top:-87px;
    margin-left: 200px; 
    font-size: 20px;
    width: 150px;
    height: 35px;
    background-color: #f8d39ac9;
    color: #73665E;
    border-radius: 15px ;
    justify-content: center;
}
.btn_dathang_anhnho{
    margin-top:10px;
    margin-left: 70px;  
    font-size: 20px;
    width: 130px;
    height: 35px;
    background-color: #F2C27A;
    color: #73665E;
    border-radius: 15px ;
}
#gioithieu{
    position: absolute;
    margin-top: 3000px;
    text-align: center;
    justify-content: space-around;

}
.gioithieu_left{
    width: 600px;
    height: 450px;
    margin-top:150px;
    margin-left:300px;
    text-align: left;
}
.gioithieu_right{
    width: 600px;
    height: 450px;
    margin-top:150px;
    margin-left:150px;
    text-align: right;
}
.btn_timhieuthem{
    position: absolute;
    margin-top:50px;
    font-size: 25px;
    width: 250px;
    height: 45px;
    background-color:#F78367;
    color: #73665E;
    border-radius: 15px ;
    text-align: center;
}
#Chuyennha{
    margin-top: 1500px;
    text-align: center;
    justify-content: space-around;
}
.chuyennha_left{
    margin-top:150px;
    margin-left:300px;
}
.chuyennha_right{
    margin-top:150px;
    margin-left:150px;
}